.btn-group {
    width: 100%;
}

.btn-group .btn {
    display: block; /* Make the buttons appear below each other */
    width: 40%;
    margin:10px;
}


#BtnPrevious{
    float: left;
    width: 100px;
}

#BtnNext{
    float: right;
    width:100px
}
